body{
  margin:0;
  padding:0;
}

.header{
  color:red;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:8px;
}

.logo:hover{
cursor: pointer;
}

.right i:hover{
cursor: pointer;
}
